ailment==9.0.9166
angr==9.0.9166
archinfo==9.0.9166
bitstring==3.1.7
cachetools==4.2.4
capstone==4.0.2
cffi==1.15.0
claripy==9.0.9166
cle==9.0.9166
covertable==2.0.1
CppHeaderParser==2.7.4
decorator==4.4.2
dpkt==1.9.7.2
future==0.18.2
gitdb==4.0.9
GitPython==3.1.18
itanium-demangler==1.0
monkeyhex==1.7.4
mpmath==1.2.1
mulpyplexer==0.9
nampa==0.1.1
networkx==2.5.1
numpy==1.19.5
pandas==1.1.5
pefile==2021.9.3
plumbum==1.7.2
ply==3.11
progressbar2==3.55.0
protobuf==3.19.3
psutil==5.9.0
pycparser==2.21
pyelftools==0.27
PySMT==0.9.1.dev139
python-dateutil==2.8.2
python-utils==3.1.0
pytz==2021.3
pyvex==9.0.9166
rpyc==5.0.1
scipy==1.5.4
six==1.16.0
smmap==5.0.0
sortedcontainers==2.4.0
sympy==1.9
typing_extensions==4.0.1
unicorn==1.0.2rc4
z3-solver==4.8.14.0
